/* CSS to override React-Bootstrap Style*/
.nav {
    align-items: center;
}
.nav-justified .nav-item, .nav-justified > .nav-link {
    display: flex;
}
.nav-tabs .nav-item {
    margin: 0 0 0 2px;
}
.nav-item .nav-link:hover {
    color: white !important;
    background-color: red;
}

button[id^="noanim-tab-example-tab-"]:hover {
    border-radius: 8px 0;
    border: 0;
}

.nav-tabs .nav-link {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.8rem;
    color: rgba(0, 0, 0, 0.88);
    font-style: normal;
    background-color: rgba(0, 0, 0, 0.02);
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 0%;
    margin: 0.15rem 0;
}
/* Update data button Style: tab 0 */

.nav-item:first-child button, .nav-item:last-child button{
    margin: 0 1rem;
    font-size: 16px;
    color: rgba(0, 0, 0, 0.88);
    height: 40px;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    background-color: #ffffff;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
.nav-item:last-child button {
    border-radius: 0px;
    margin: 0 2px;
}

.nav-item:first-child button:hover, .nav-item:last-child button:hover {
    color: white !important;
    background-color: red ;
    border-color: red ;
}

.nav-item:first-child button:active, .nav-item:last-child button:active {
    outline: 3px solid #ff7676;
    transition: outline-offset 0s,outline 0s;
}

.nav-tabs .nav-link.active {
    color: red;
    border-color: #d9d9d9;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}
.nav-tabs .nav-link.active span{
    color: black;
}

/* Add New Tab BUtton */
#noanim-tab-example-tab-null {
    font-size: 16px;
    color: rgba(0, 0, 0, 0.88);
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.02);
}

/* Title in upde chart data table*/
.ant-collapse-header-text {
    font-weight: bolder;
}
.ant-collapse-header-text:active {
    color: rgba(255, 0, 0, 0.88);
}


/* Image Card in add Chart */
.ant-card-cover {
    width: 240px;
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Steps Icon on adding Chart */
.ant-steps .ant-steps-item-process .ant-steps-item-icon {
    background-color: rgba(255, 0, 0, 0.88);
    border-color: rgba(255, 0, 0, 0.88);
}

.ant-progress-circle-path {
    stroke: rgb(82, 196, 26) !important
}

.ant-steps .ant-steps-item-finish .ant-steps-item-icon > .ant-steps-icon {
    color: white;
  }

.ant-steps .ant-steps-item-finish .ant-steps-item-icon {
    background-color: rgb(82, 196, 26);
    border-color: rgb(82, 196, 26);
  }

.ant-steps .ant-steps-item-finish > .ant-steps-item-container >
.ant-steps-item-content > .ant-steps-item-title::after {
    background-color: rgba(255, 26, 26, 0.7);
}

/* Segmented: Chosen chart type in adding chart */
.ant-segmented-lg {
    max-width: 85%;
    margin-inline: auto;
}
.ant-segmented {
    background-color: transparent;
}
.ant-segmented .ant-segmented-group {
    flex-flow: row wrap;
}
.ant-segmented-group {
    color: rgba(255, 26, 26, 0.7)
}

.ant-segmented-item {
    background-color: white;
}
.ant-segmented-item:hover {
    color: white;
}
:where(.css-dev-only-do-not-override-1ij74fp).ant-segmented .ant-segmented-item:hover:not(.ant-segmented-item-selected) :not(.ant-segmented-item-disabled){
    color: rgba(255, 26, 26, 0.7)
}
.ant-segmented-lg .ant-segmented-item-selected {
    color: white;
    background-color: red;
}

/* override loading spinner default  */
.ant-spin-lg .ant-spin-dot {
    font-size: 45px;
  }
.ant-spin .ant-spin-dot-item {
    background-color: rgba(255, 26, 26);
}
.ant-spin-lg .ant-spin-dot i {
    width: 30px;
    height: 30px;
}
.ant-spin.ant-spin-show-text .ant-spin-text {
    font-size: 20px;
    color: rgba(0,0,0, 0.7);
  }

/* PopUp of adding user */
.modal-dialog {
    max-width: 47%;
}
.ant-row {
    display: 'flex';
    flex-flow: column wrap;
    width: 100%;
    align-items: flex-start;
    
}
/* User Profile update personal data*/
.ant-avatar {
    width: 164px !important; 
    height: 164px !important;
    background-color: #d23636 !important;
}
.anticon-user {
    font-size: 140px;
}